@model PrjTutor.Evaluation

@{
    ViewData["Title"] = "Create";
}



<div class="">
    <h1>Add an Evaluation</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="d-flex gap-3">
            <div class="form-group col">
                <label asp-for="StudentId" class="control-label">Student Name</label>
                <select asp-for="StudentId" class ="form-select" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group col">
                <label asp-for="AssignmentId" class="control-label">Assignment:</label>
                <select asp-for="AssignmentId" class ="form-select" asp-items="ViewBag.AssignmentId"></select>
            </div>
            <div class="form-group col-1">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control class-" placeholder="%"/> 
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group gap-3 my-2">
            <label asp-for="Notes" class="control-label"></label>
            <textarea asp-for="Notes" class="form-control" placeholder="">
            </textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
