@model PrjTutor.Feedback

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeekEnding" class="control-label"></label>
                <input asp-for="WeekEnding" class="form-control" />
                <span asp-validation-for="WeekEnding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weakness" class="control-label"></label>
                <input asp-for="Weakness" class="form-control" />
                <span asp-validation-for="Weakness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Performance" class="control-label"></label>
                <input asp-for="Performance" class="form-control" />
                <span asp-validation-for="Performance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningObjective" class="control-label"></label>
                <input asp-for="LearningObjective" class="form-control" />
                <span asp-validation-for="LearningObjective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
